{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158608010-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-158608010-1');
    </script>

    <!--<script src="{% static 'js/google_loader.js' %}"></script>-->
    <meta charset="utf-8">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="196x196">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="128x128">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/cui-standard.min.css' %}">
    <!--<link rel="stylesheet" href="{% static 'css/custom.css' %}">-->
    <meta name="application-name" content="Cisco UI Kit">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{% static 'img/mstile.png' %}">
    <meta name="msapplication-square70x70logo" content="{% static 'img/mstile.png' %}">
    <meta name="msapplication-square150x150logo" content="{% static 'img/mstile.png' %}">
    <meta name="msapplication-wide310x150logo" content="{% static 'img/mstile.png' %}">
    <meta name="msapplication-square310x310logo" content="{% static 'img/mstile.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Coronavirus</title>

    <script src="https://code.jquery.com/jquery-3.0.0.min.js"
            integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <!--<script src="../public/js/styleguide.js"></script>-->
</head>

<body class="cui">
<nav class="header" id="styleguideheader" role="navigation">
    <div class="container-fluid">
        <div class="header-panels">
            <div class="header-panel hidden-md-down">
                <h1 class="header__title">
                    <span></span>
                </h1>
            </div>

            <div class="header-panel header-panel--center base-margin-left base-margin-right">
                <h1 class="header__title">
                    <span>Coronavirus Analysis using Arima</span>
                </h1>
            </div>

        </div>
    </div>
</nav>
<div class="content content--alt">
    <div class="container-fluid">
        <div class="row">
            <!-- Left Rail -->

            <!-- Middle Rail -->
            <div class="col-xl-4">
                <div class="section">
                    <!-- Radio -->
                    <div class="panel panel--loose panel--raised base-margin-bottom">
                        <h2 class="subtitle">Coronavirus Summary</h2>
                        <hr>
                        <div class="summay" id="summary">
                            <p>
                                <i>Coronaviruses (CoV) are a large family of virus that cause illness ranging from
                                the common cold to more severe diseases such as Middle East Respiratory Syndrome (MERS-CoV)
                                and Severe Acute Respiratory Syndrome (SARS-CoV). A novel coronavirus (nCoV) is a new
                                strain that has not been previously identified in humans. </p>
                            <p>
                                Coronaviruses are zoonotic, meaning they are transmitted between animals and people.
                                Detailed investigations found that SARS-CoV was transmitted from civet cats to humans and
                                MERS-CoV from dromedary camels to humans. Several known coronaviruses are circulating in
                                animals that have not yet infected humans.</i> -
                                <a href="https://www.who.int/health-topics/coronavirus" target="_blank">WHO</a>
                            </p>
                            Basic Summary: <br>
                            Number of <b>Confirmed</b> cases of Coronavirus since 2020-01-22:&nbsp<b>{{ country_state.total_stats.confirmed }} </b><br>
                            Number of <b>Deaths</b> due to Coronairus since 2020-01-22:&nbsp<b>{{ country_state.total_stats.deaths }} </b><br>
                            Number of <b>Recovered</b> cases of Coronavirus since 2020-01-22:&nbsp<b>{{ country_state.total_stats.recovered }} </b><br>
                        </div>
                    </div>
                    <div class="panel panel--loose panel--raised base-margin-bottom">
                        <h2 class="subtitle">Coronavirus Summary</h2>
                        <hr>
                        <div class="end" id="end">
                            <p>
                                This project is developed by <a href="https://www.linkedin.com/in/asparshchandera/" target=”_blank”>Asparsh Chandera</a><br/>
                                Collaborator: <a href="https://www.linkedin.com/in/mragankagarwal/" target=”_blank”> Mragank Agarwal</a><br/>
                                Email: <a href="mailto:asparshchandra@gmail.com">asparshchandra@gmail.com</a><br/>
                                The dataset is taken from: <br/>
                                <a href="https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset" target="_blank">
                                    Kaggle: Collected by John Hopkins University
                                </a>

                            </p>
                            <p>
                                Read more about <a href="https://towardsdatascience.com/arima-forecasting-in-python-90d36c2246d3" target="_blank">
                                Arima
                                </a><br/>
                                Find the code of this project at <a href="https://github.com/asparsh/corona-virus" target="_blank">
                                Github
                            </a>


                            </p>

                        </div>
                    </div>




                </div>
            </div>
            <!-- Right Rail -->
            <div class="col-xl-8">
                <div class="section">
                    <!-- Button -->
                    <div class="panel panel--loose panel--raised base-margin-bottom">
                        <h2 class="subtitle">Select Country and State</h2>
                        <hr>
                        <label> Select Country</label>
                        <input list="country" id="country_selected" name="country_selected"
                               onchange="setSelectedValue(this.value, {{ country_state.country | safe }});"/>
                        <datalist id="country">
                            <option value="" disabled selected>Select</option>
                            {% for key, value in country_state.items %}
                            {% if key == 'country' %}
                            {% for country, state in value.items %}
                            <option value="{{ country }}" , selected="selected">{{ country }}</option>
                            {% endfor %}
                            {% endif %}
                            {% endfor %}
                        </datalist>
                        <label> Select State</label>
                        <select id="state_selected" name="state_selected">
                            <option value="" disabled selected>Select</option>
                        </select>
                        <div id="ratios_div">
                            {{ ratios.risk_ratio }}
                            {{ ratios.fatality_ratio }}
                            {{ recovery_prof_ratio }}
                        </div>

                    </div>
                    <div id="image"><img src ="{% static 'img/loader.gif' %}"></div>

                    <!-- Checkbox -->
                    <div class="panel panel--loose panel--raised base-margin-bottom">
                        <h2 class="subtitle">Predictions</h2>
                        <hr>
                        <div class="timeseries" id="timeseries">
                            {% include "fig.html" %}
                        </div>
                        <div>
                            <p>
                                This analysis has been done using the univariate model Arima with a constant window size of 7
                                to predict the confirmed cases of Coronaviurus 7 days ahead. The data points represent the
                                actual confirmed cases of coronavirus known till 02/11/2020.
                            </p>
                            <p>
                                The model also predicts a confidence interval based on the recovered cases, the
                                number of people affected, and are getting affected by the virus. <br/>The <b>upper bound</b> tells
                                us the maximum number of people who can get affected in the area. <br/>
                                The <b>lower bound</b> tells us the maximum number of people who can recover.
                            </p>
                        </div>


                    </div>

                    <!-- Accordion -->
                    <!--<div class="panel panel&#45;&#45;loose panel&#45;&#45;raised base-margin-bottom">-->
                    <!--<h2 class="subtitle">Devices with Low memory</h2>-->
                    <!--<hr>-->
                    <!--<div>-->
                    <!--<table id="top_devices">-->
                    <!--<tr>-->
                    <!--<th> Device ID</th>-->
                    <!--<th> Node ID</th>-->
                    <!--<th> Total Memory</th>-->
                    <!--<th> Application Memory Available</th>-->
                    <!--</tr>-->
                    <!--{% for devices, value in top_devices.items %}-->
                    <!--{% if devices == 'devices' %}-->
                    <!--{% for device, device_value in value.items %}-->
                    <!--{% for node, node_value in device_value.items %}-->
                    <!--<tr>-->
                    <!--<td> {{ device }}</td>-->
                    <!--<td> {{ node }}</td>-->
                    <!--<td> {{ node_value.total }}</td>-->
                    <!--<td> {{ node_value.history }}</td>-->
                    <!--</tr>-->
                    <!--{% endfor %}-->
                    <!--{% endfor %}-->
                    <!--{% endif %}-->
                    <!--{% endfor %}-->
                    <!--</table>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!-- Alert -->
                    <!--<div class="panel panel&#45;&#45;loose panel&#45;&#45;raised base-margin-bottom">-->
                    <!--<h2 class="subtitle">Low Memory devices vs High Memory device</h2>-->
                    <!--<hr>-->
                    <!--<div id="piechart"></div>-->

                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/custom_jquery.js' %}"></script>

<!--    <script src="{% static 'js/chart.js' %}"></script>-->


</body>

</html>